#clock{
    padding-top: 150px;

    font-size: 40px;
    margin-bottom: 15px;
    
}

#weather{
    font-size: 30px;
    margin-bottom: 15px;
}

#quote{
    background-color: transparent;
    width: 600px;
    height: 70px;
    font-size: 15px;
    opacity: 0.8;
    color: whitesmoke;
    
}