.login{
    background:#D39D55 ; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.login-form{
    display:flex;
    align-items:center;
    justify-content: center;

 
}

.login-form input{


    background-color: transparent;
    border: none;
    border-bottom: 0.1em solid white; 
    
    background-color: transparent;
    height: 100px;
    width: 80%;
    font-size:70pt;
    text-align:center;
    color: white;

}

div h1{
    color: white;
    font-size:50pt;
    margin-bottom: 10px;
}
