.login{
    background:grey ; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.login h1{
    font-size: 40px;

}
.login-form{

    display:flex;
    align-items:center;
    justify-content: center;
 
}

.login-form input{
    background-color: transparent;
    border: none;
    border-bottom: 0.03em solid white; 
    
    background-color: transparent;
    height: 70px;
    width: 70%;
    font-size:40pt;
    text-align:center;
    color: white;

}

div h1{
    color: white;
    font-size:50pt;
    margin-bottom: 10px;
}
