
#todo-form input{
    background-color: transparent;
    border: none;
    border-bottom: 0.1em solid white; 
    
    background-color: red;
    height: 40px;
    width: 400px;
    font-size:20pt;
    text-align:center;
    color: white;

}

#todo-list{
    background-color: orange;
    width: 400px;

}
#todo-div{
    background-color: yellow;
    width: 400px;

}

.class_done{
    opacity: 0.5;
    text-decoration: line-through;
}

li span{
    background-color:blue;
    display:inline-block;
    width:300px;
    overflow:hidden;
    white-space:nowrap;
}